<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>App Component</h3>
      <hr />

      <app-servers></app-servers>
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>

      <div>
        <!-- two way binding [(ngModel)=”data” ] -->
        <input type="text" class="form-control" [(ngModel)]="username" />
        <!-- data interpolation {{ data }} -->
        <p>{{ username }}</p>
      </div>
      <hr />
      <!-- property binding  ( [property]=”data”) -->
      <!-- event binding ( (event)=”expression) -->
      <button
        class="btn btn-primary"
        [disabled]="username === ''"
        (click)="username = ''"
      >
        Reset User
      </button>
      <div>
        <!-- ngIf -->
        <!--
          <button class="btn btn-primary" (click)="showSecret = !showSecret">
            Display Details
          </button>
          <p *ngIf="showSecret">Secret password = tuna</p>
        -->
        <!-- ngFor -->
        <button class="btn btn-primary" (click)="onToggleDetails()">
          Display Details
        </button>
        <p *ngIf="showSecret">Secret Password = salmon</p>
        <div
          *ngFor="let logItem of log; let i = index"
          [ngStyle]="{ backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
          [ngClass]="{ 'white-text': i >= 4 }"
        >
          {{ logItem }}
        </div>
        <!--
          <div
            *ngFor="let logItem of log"
            [ngStyle]="{ backgroundColor: logItem >= 5 ? 'blue' : 'transparent' }"
            [ngClass]="{ 'white-text': logItem >= 5 }"
          >
            {{ logItem }}
          </div>
        -->
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary"></button>
<!--
  Another way is in the .ts file:
    create a...
    onReset(){
      this.username = '';
    }
  Then in the html file put the onReset() in the click
-->
